<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link href='https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700' rel='stylesheet' type='text/css'>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- Twitter cards -->
    <meta name="twitter:site"    content="@{{ site.author.twitter }}">
    <meta name="twitter:title"   content="{{ page.title }}">

    {% if page.excerpt %}
    <meta name="twitter:description" content="{{ page.excerpt }}">
    {% else %}
    <meta name="twitter:description" content="{{ site.description }}">
    {% endif %}

    {% if page.image %}
    <meta name="twitter:card"  content="summary_large_image">
    <meta name="twitter:image" content="{{ site.url }}{{ page.image }}">
    {% else %}
    <meta name="twitter:card"  content="summary">
    <meta name="twitter:image" content="{{ site.title_image }}">
    {% endif %}
    <!-- end of Twitter cards -->

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1><a href="{{ site.url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
        <div class="social">
          <a href="https://www.twitter.com/networkbrouhaha" class="fab fa-twitter" style="color:Gray"></a>
          <a href="https://www.linkedin.com/ethernet0" class="fab fa-linkedin-in" style="color:Gray"></a>
          <a href="https://www.reddit.com/u/shamsway" class="fab fa-reddit" style="color:Gray"></a>
          <a href="{{ site.url }}/feed.xml" class="fas fa-rss fa-2x" style="color:Gray"></a>
        </div><!-- social -->
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
        <ul>
          <li><a href="{{ site.url }}/about">About</a></li>
          <li><a href="{{ site.url }}/links">Links</a></li>
          <li><a href="{{ site.url }}/presentations">Presentations</a></li>
        </ul>
      </header>
      <section>

      {{ content }}

      {% if page.comments %}
          <div id="disqus_thread"></div>
          <script>
          var disqus_config = function () {
            this.page.url = '{{ page.url | absolute_url }}';
            this.page.identifier = '{{ page.url | absolute_url }}';
          };

          (function() { // DON'T EDIT BELOW THIS LINE
          var d = document, s = d.createElement('script');
          s.src = 'https://{{ site.disqus.shortname }}.disqus.com/embed.js';
          s.setAttribute('data-timestamp', +new Date());
          (d.head || d.body).appendChild(s);
          })();
          </script>
          <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      {% endif %}

      </section>

    </div>
    <footer>
      <p>© 2021 Matt Elliott &mdash; Made with <a href="https://jekyllrb.com/">Jekyll</a> on <a href="https://pages.github.com">Github Pages</a> &mdash; Theme adapted from <a href="https://github.com/pages-themes/modernist">modernist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if jekyll.environment == 'production' %}
      {% include analytics.html %}
    {% endif %}
  </body>
</html>
